header {
    text-align: center;
}

#mother {
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    float: left;
    text-align: right;
    background-image: linear-gradient(#333, #eee, #333)
}

h1 {
    display: inline-block;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'IBM Plex Sans';
    text-align: center;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    display: inline-block;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background: -webkit-linear-gradient(#e5e, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    display: inline-block;
    height: 80;
    width: 80;
}